<div class="modal-dialog">
  <div class="modal-content">
    <p class="show_content"><%= @task.content %></p>
    <p class="show_detail"><%= @task.detail %></p>
    <% if @task.limit %>
      <p class="show_limit">終了期限:<%= @task.limit %></p>
    <% end %>
  </div>
</div>
