<h1>タスク一覧</h1>
<table class="task_table">
  <tr>
    <th>content</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr class="modal-open">
      <td><%= task.content %></td>
    </tr>
  <% end %>
</table>
<div id="modal-main">テスト</div>

</div>
