<div class="container">
  <div id="tasks_area">
    <%= render partial: 'tasks/index', locals: { tasks: @tasks } %>
  </div>
</div>
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
