<div class="container">
  <p>ラベル管理画面</p>
  <p><%= link_to "ラベルを作成する", new_admin_label_path %></p>
  <p>ラベル一覧</p>
  <% @labels.each do |label| %>
  <span class="label" style="background-color:<%= label.color_before_type_cast %>"><%= label.label_name %></span>
  <% end %>
</div>
