html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: rgb(118, 180, 199);
}

h1 {
  color: rgb(255, 255, 255);
  padding-left: 50px;
}

.container {
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.modal-content {
  padding: 20px;
}

.show_content {
  font-size: 2rem;
  font-weight: bold;
}
